.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.login-image {
  width: 50rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  gap: 1.8rem;
  background-color: #dad2d8;
  padding: 4rem;
  border-radius: 13px;
  box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
  margin-left: 10rem;
}

.login-switch {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.login-title {
  cursor: pointer;
  color: #3f3f3f;
  font-size: 1.2rem;
}

.login-title--active {
  font-weight: bold;
}

.login-title--inactive {
  color: gray;
}

.login-hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.login-hr {
  height: 10px;
  width:50%;
}

.login-hr--active {
  background-color:black;

}

.login-hr--inactive {
  background-color:gray;

}