.login {
    display: flex;
    justify-content: space-evenly;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 1.8rem;
    background-color: darksalmon;
    padding: 2rem;
    border-radius: 13px;
}

.login-title{
    font-size: 2rem;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-label {
    padding-left: 2rem;
}

.login-input{
    border-radius: 13px;
    font-size: 1.6rem;
    padding: 1rem 1rem 1rem 2rem;
}

.login-button{
    border-radius: 13px;
    padding: 1rem;
}

.login-image {
    width: 1rem;
}