/* Map ma */

.ma-map {
  width: 100%;
}

.ma-loader {
  border: 50px solid #d9d9d9; /* Light grey */
  border-top: 20px solid darkred; /* Blue */
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: spin 2s linear infinite;
}

.ma-container {
  width: 100%;
  height: calc(100% - 70px);
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.ma-container--flex {
  height: calc(100% - 100px);
  width: initial;
  align-items: flex-start;
  gap: 3rem;
}

.ma-return-button {
  position: absolute;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: red;
  z-index: 100;
  cursor: pointer;
  transform: translate(40%, 40%);
  transition: all 0.15s ease-in;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
}

.ma-return-button:hover {
  background-color: #e60000;
}

.ma-info-button {
  height: 5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #f9fafb;
  border-radius: 13px;
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ma-info-button:hover {
  background-color: #e0e1e2;
}

.ma-info {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.ma-info--flex {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  height: 700px;
  overflow: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 13px;
  border-collapse: separate;
}

.ma-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
