/* Navbar nav */
.nav-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 3rem;
  background-color: #f9fafb;
  background-color: rgb(209, 209, 209);
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-user-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  padding: 2rem;
  width: 2rem;
  height: 2rem;
}

.nav-user-letter-link {
  text-decoration: none;
}
