/* Navbar nav */
.nav-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 3rem;
  background-color: darkred;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 30000;
}
