/* Soda Info soi */

.soi-soda-info {
  width: 40rem;
}

.soi-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

.soi-li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 13px;
  background-color: #fbfbfb;
  color: rgb(40, 40, 40);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  gap: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
}

.soi-li-img {
  height: 4rem;
  transform: scale(2) rotate(20deg) translate(-2px, 6px);
}

.soi-li-text {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 0.5rem;
}

.soi-li-percentage {
  font-size: 1.2rem;
  color: rgb(110, 110, 110);
  align-self: flex-end;
}

.soi-li-quantity {
  font-weight: bold;
  font-size: 2.5rem;
}
