/* Store Sales ss */

.ss-container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  background-color: #fbfbfb;
  padding: 2rem;
  text-align: left;
  color: rgb(40, 40, 40);
  gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
}

.ss-title {
  font-size: 2rem;
  font-weight: 600;
}

.ss-sales-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss-ol {
  margin-left: 2rem;
}

.ss-ol--two-cols {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.ss-li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.ss-li-soda {
  font-size: 1.4rem;
}

.ss-li-sales {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 0.4rem;
  margin-right: 2rem;
}
